{{ define "main" }}

<section class="site-project-single-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="site-project-single">
          <h1>
            {{ .Title }}
          </h1>
          <div class="site-hero" style="padding-top:0; padding-bottom: 1em;">
            {{ range .Params.project_images }}
            <img class="site-hero-img" src="{{ . | absURL }}" alt="project image">
            {{ end }}
          </div>
          <div class="site-project-single-description">
            {{ .Content }}
          </div>
          <div class="row">
            <div class="col-sm-6">
              {{ if .PrevInSection }}
              <div class="site-project-single-action float-left">
                <a href="{{.PrevInSection.Permalink}}">
                  <span class="link-area">
                    <span data-text="< Previous Artist">
                      &#60; Previous Artist
                    </span>
                  </span>
                </a>
              </div>
              {{ end }}
            </div>
            <div class="col-sm-6">
              {{ if .NextInSection }}
              <div class="site-project-single-action">
                <a href="{{.NextInSection.Permalink}}">
                  <span class="link-area">
                    <span data-text="Next Artist >">
                      Next Artist &#62;
                    </span>
                  </span>
                </a>
              </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ partial "call-to-action.html" . }}

{{ end }}