{{ define "main" }}

<section class="site-blog details">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <article class="site-blog-details">
          <p><span>{{ .PublishDate.Format "January 2, 2006" }}</span> by <span>{{ .Params.author }}</span></p>
          <h2 class="blog-title">{{ .Title }}</h2>
          <img class="feature-image" src="{{ .Params.feature_image | absURL }}" alt="blog-feature-image">
          {{ if eq (index .Params.categories 0) "Artwork" }}<p style="font-style: italic;">Artwork by {{ .Params.artist }}</p>{{ end }}
          {{ .Content }}
          {{ if eq (index .Params.categories 0) "Artwork" }}
            <hr>
            <p style="font-style: italic;">
              This blog post is an art review and interpretation by {{ .Params.author }}. 
              {{ if not (eq .Params.website "") }}
                The Artist, {{ .Params.artist }}, has their own description and meaning of the 
              artwork on their website. <a href="{{ .Params.website }}" target="_blank">{{ .Params.titleWebsite }}</a>
              {{ end }}
            </p>
          {{ end }}
        </article>
      </div>
    </div>
  </div>
</section>

{{ partial "call-to-action.html" . }}

{{ end }}