.site-hero{
  padding-top: 12em;
  padding-left: 2em;
  padding-right: 2em;
  &-img-container{
      display:block;
      margin-left: auto;
      margin-right: auto;
      object-fit: cover;
    &-img {
      max-width: 100%;
    }
  }
  &-scroll{
    position: absolute;
    left: 50%; bottom: 70px;
    transform: translateX(-50%);
  }
  .hero-text {
    text-align: center;
    h1{
      padding: 1.5em;
      @include desktop-lg{
        font-size: 2em;
      }
      @include desktop {
        font-size:2.5em;
      }
      @include tablet {

      }
      @include mobile {
        padding:.5em;
      }
    }
    h3 {
      padding-top: 1em;
      @include desktop-lg{
        font-size: 2em;
      }
      @include desktop {

      }
      @include tablet {
        font-size: 1.5em;
      }
      @include mobile {
        padding:.5em;
      }
    }    
  }
}