.site-hero{
  padding-top: 5em;
  &-img {
    max-width: 100%;
    max-height: auto;
    object-fit: cover;
  }
  &-scroll{
    position: absolute;
    left: 50%; bottom: 70px;
    transform: translateX(-50%);
  }
}