{{ define "main" }}

<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <section class="site-blog-header">
        {{ partial "list-categories.html" . }}
      </section> 
    </div>
    <div class="col">
      <section class="site-blog-header">
          <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              <h1>A CURATED PERUSE</h1>
              <p>
                {{ .Title }}: {{ .Params.description }}
              </p>
            </div>
          </div>
      </section>
      <section class="site-blog" id="blogs">  
          <div class="row">
            {{ range (.Paginator 4).Pages }}
            <div class="col-lg-6">
              <a href="{{ .Permalink }}">
                <article class="site-blog-post">
                  {{ with .Params.image }}
                  <div class="site-blog-post-thumb" style="min-height:50em;">
                    <img src="{{ . | absURL }}" alt="post-thumb">
                  </div>
                  {{ end }}
                  <div class="site-blog-post-content">
                    <span>{{ .PublishDate.Format "January 2, 2006" }}</span>
                    <span> {{ range .Params.categories }}{{ . }} {{ end }}</span> <!-- Get categories of post -->
                    <h3>{{ .Title }}</h3>
                    <p>
                      {{ .Summary }} ...
                    </p>
                  </div>
                </article>
              </a>
            </div>
            {{ end }}
            <div class="col-12">
              <div class="site-blog-pagination">
                {{ template "_internal/pagination.html" . }}
              </div>
            </div>
          </div>
      </section> 
    </div>     
  </div>
</div>

{{ end }}