{{ define "main" }}

<section class="site-about-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="site-about-wrapper">
          <div class="site-about-company">
            <h2 class="text-center">
              {{ .Params.heading | safeHTML }}
            </h2>
          </div>
          <div class="site-about-description">
              <h3>{{ .Params.description_header }}</h3>
              <p>"{{ .Params.description_body }}"</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about-information" class="site-expertise">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

{{ partial "call-to-action.html" . }}

{{ end }}