{{ .context.Scratch.Set "height" .height }}
{{ .context.Scratch.Set "unit" .unit }}
{{ .context.Scratch.Set "items" .items }}
<div class="carousel-canvas">
  <div id="carousel10" class="carousel site-hero" duration="{{ .duration }}" items="{{ .items }}">
    <ul>
        {{ range $index, $slide := .context.Site.Data.carousel.images }}
            <li aria-label="featured_image{{ add $index 1}}" id="c10_slide{{ add $index 1}}" style="min-width: calc(100%/{{ $.context.Scratch.Get "items" }}); padding-bottom: {{ $.context.Scratch.Get "height" }}{{ $.context.Scratch.Get "unit" }};">
              <img src="{{ $slide.image }}" alt="" />
              <a href="{{ $slide.link }}" target="_blank"></a>
            </li>
        {{ end }}
    </ul>
    <ol>
      {{ range $index, $page := .context.Site.Data.carousel.images }}
        <li><a aria-label="featured_image{{ add $index 1}}" href="#c10_slide{{ add $index 1 }}"></a></li>
      {{ end }}
    </ol>
    {{ if gt (.context.Site.Data.carousel.images | len) 1 }}
      <div class="prev">&lsaquo;</div>
      <div class="next">&rsaquo;</div> 
    {{ end }}
  </div>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col-12">
      <p>* Free 2-5 day shipping on all orders</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <a href="{{ .URL | absURL }}/shop-all" target="_blank" class="btn btn-primary btn-sm-rounded">
        <span class="btn-area">
            Shop All
        </span>
      </a>
    </div>
  </div>
</div>

  

