<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script type="text/javascript">
  $( document ).ready(function() {
        // Prevent right-click on images for DESKTOP
    document.oncontextmenu = function(e) {
      e = e || window.event;
      if (/^img$/i.test((e.target || e.srcElement).nodeName)) return false;
    };
   
    // Prevent image dragging for DESKTOP
    $("img").attr("draggable", "false");

    // Prevent image saving on iOS
    $("img").addClass("disable-save");

    // Prevent image saving on Android
    $("img").attr("oncontextmenu", "return false;");
  });
</script>
<nav class="navbar navbar-expand-lg site-navigation">
  <div class="container justify-content-center">
    <div class="row">
      <div class="col-12">
        <div class="navbar-brand">
          <a href="{{ .Site.BaseURL }}">
            <img src="{{ .Site.Params.logo | absURL }}" alt="logo" />
          </a>
          <button
            aria-label="expand navigation menu" 
            class="navbar-toggler collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#sitenavbar"
            style="float:right;"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>   
      </div>   
    </div>
    <div class="collapse navbar-collapse" id="sitenavbar">
      <ul class="navbar-nav ml-auto main-nav">
        {{$menu := (.Site.Menus.nav)}} 
        {{$len := (len $menu)}} 
        {{ range $index, $element := $menu }} 
          {{ if eq (add $index 1) $len }} <!-- Online Store Case -->
            <li class="nav-item">
              <a class="nav-link btn btn-sm btn-primary btn-sm-rounded" href="{{ .URL }}">
                <span class="btn-area">
                  <span data-text="SHOP">
                    SHOP
                  </span>
                </span>
              </a>
            </li>
          {{ else }}
            <li class="nav-item">
              {{if .HasChildren }}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{.Name}}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{ range $index, $element := .Children }}
                      {{ if eq $index 0 }}
                        <li style="text-align:center; font-weight:bold;">MAIN BLOG</li>
                        <li style="padding-bottom: 1em;">
                          <a href="{{ .URL | absURL }}" class="dropdown-item">{{ .Name }}</a>
                        </li>
                      {{ else if eq $index 1 }}
                        <li style="text-align:center; font-weight:bold;">{{ .Name }}</li>
                      {{ else }}
                        <li class="">
                            <a href="{{ .URL | absURL }}" class="dropdown-item">{{ .Name }}</a>
                        </li>
                      {{ end }}
                    {{ end }}
                  </ul>
                </li>
              {{ else }}
                <a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
              {{ end }}
            </li>
          {{ end }} 
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
