{{ with .Site.Params.banner }}
  {{ if .enable }}
  {{ "<!-- Site Hero Start -->" | safeHTML }}
        <div class="site-hero">
          <div class="hero-text">
            <h1 class="hero-text">{{ .heading }}</h1>
          </div>
          <div class="site-hero-img-container">
            <a href="{{ .url }}" target="_blank"><img class="site-hero-img-container-img" src="{{ .background_image }}"></a>
          </div>
          <div class="hero-text">
            <ul class="site-cta-buttons">
              <li>
                <a class="nav-link btn btn-sm btn-primary btn-sm-rounded" href="{{ .URL | absURL }}">
                  <span class="btn-area">
                    <span data-text="SHOP">
                      SHOP
                    </span>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
  {{ "<!-- Site Hero End -->" | safeHTML }}
  {{ end }}
{{ end }}
