<section class="site-cta" id="links">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="site-cta-title">Buy Our Holiday Coloring Kits!</h2>
                <ul class="site-cta-buttons">
                    <li style="padding:1em">
                        <a href="https://art-hub-studio-llc.checkoutpage.co/christmas-tabletop-coloring-kit" target="_blank">
                            <img style="width:18em" src="images/product-images/christmas-kit.webp">
                            <h4>Christmas Tabletop Coloring Kit</h4>
                        </a>
                        <h5>$24.99</h5>
                        <a href="https://art-hub-studio-llc.checkoutpage.co/christmas-tabletop-coloring-kit" target="_blank" class="btn btn-primary btn-sm-rounded">
                            <span class="btn-area">
                                <span data-text="Buy Now!">
                                    Buy Now!
                                </span>
                            </span>
                        </a>
                    </li>
                    <li style="padding:1em">
                        <a href="https://art-hub-studio-llc.checkoutpage.co/new-years-tabletop-coloring-kit" target="_blank">
                            <img style="width:18em" src="images/product-images/new-years-kit.webp">
                            <h4>New Years Tabletop Coloring Kit</h4>
                        </a>
                        <h5>$24.99</h5>
                        <a href="https://art-hub-studio-llc.checkoutpage.co/new-years-tabletop-coloring-kit" target="_blank" class="btn btn-primary btn-sm-rounded">
                            <span class="btn-area">
                                <span data-text="Buy Now!">
                                    Buy Now!
                                </span>
                            </span>
                        </a>
                    </li>
                    <li style="padding:1em">
                        <a href="https://art-hub-studio-llc.checkoutpage.co/holiday-bundle-coloring-kit" target="_blank">
                            <img style="width:18em" src="images/product-images/christmas-kit.webp">
                            <h2 style="display:inline">+</h1>
                            <img style="width:18em" src="images/product-images/new-years-kit.webp">
                            <h4>SAVE! Holiday Bundle Tabletop Coloring Kit</h4>            
                        </a>
                        <h5>$34.99</h5>
                        <a href="https://art-hub-studio-llc.checkoutpage.co/holiday-bundle-coloring-kit" target="_blank" class="btn btn-primary btn-sm-rounded">
                            <span class="btn-area">
                                <span data-text="Buy Now!">
                                    Buy Now!
                                </span>
                            </span>
                        </a>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
</section>