<section class="site-cta" id="links">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="site-cta-title">Buy Our Holiday Coloring Kits!</h2>
                <ul class="site-cta-buttons">
                    <li>
                        <a href="https://art-hub-studio-llc.checkoutpage.co/holiday-bundle-coloring-kit" class="btn btn-primary btn-sm-rounded">
                            <span class="btn-area">
                                <span data-text="BUNDLE Coloring Kit">
                                    BUNDLE Coloring Kit
                                </span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://art-hub-studio-llc.checkoutpage.co/new-years-tabletop-coloring-kit" class="btn btn-primary btn-sm-rounded">
                            <span class="btn-area">
                                <span data-text="New Years Coloring Kit">
                                    New Years Coloring Kit
                                </span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://art-hub-studio-llc.checkoutpage.co/christmas-tabletop-coloring-kit" class="btn btn-primary btn-sm-rounded">
                            <span class="btn-area">
                                <span data-text="Christmas Coloring Kit">
                                    Christmas Coloring Kit
                                </span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>