{{ define "main" }}
<section class="site-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="site-contact-form">
          {{ with .Site.Params.footer.contactInfo }}
            <div class="site-footer-widget">
              <h4>{{ .title }}</h4>
              <p>Have questions, comments, or concerns? We're here to help! Submit general inquiries through our <a href='https://art-hub-studio-llc.checkoutpage.co/contact-form' target="_blank">contact form</a></p>
              <ul class="site-cta-buttons">
                <li>
                  <a target="_blank" class="nav-link btn btn-sm btn-primary btn-sm-rounded" href="https://art-hub-studio-llc.checkoutpage.co/contact-form">
                    <span class="btn-area">
                      <span data-text="Contact Form">
                        Contact Form
                      </span>
                    </span>
                  </a>
                </li>
              </ul>
              <br>
              <p>
              Art Hub Studio LLC
              <br>
              {{ if .address }}
                  {{ .address | safeHTML }}  
              <br>
              <br>
              {{ end }}
              {{ if .phone }}
                  <a href="tel:{{ .phone }}">{{ .phone }}</a>
                  <br>
              {{ end }}
              {{ if .email }}
                  <a href="mailto: {{ .email }}">{{ .email }}</span>
              {{ end }}
              </p>
            </div>
    
          {{ end }}
        </div>
      </div>     
    </div>
  </div>
</section>
{{ end }}
