{{ define "main" }}
<section class="site-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="site-contact-form">
          {{ with .Site.Params.footer.contactInfo }}
            <div class="site-footer-widget">
              <h4>{{ .title }}</h4>
              <p>
              Art Hub Studio LLC
              <br>
              {{ if .address }}
                  {{ .address | safeHTML }}  
              <br>
              <br>
              {{ end }}
              {{ if .phone }}
                  <a href="tel:{{ .phone }}">{{ .phone }}</a>
                  <br>
              {{ end }}
              {{ if .email }}
                  <a href="mailto: {{ .email }}">{{ .email }}</span>
              {{ end }}
              </p>
            </div>
    
          {{ end }}
        </div>
      </div>     
    </div>
  </div>
</section>
{{ end }}
